ai.cfg
gamemode_*.cfg
cpu_*.ekv
css_settings.cfg
perftest.cfg
server_default.cfg
server.cfg
test.cfg
buypresets*.vdf
config_default.cfg
config.360.cfg
controller*.cfg
debug.cfg
default.cfg
entity.cfg
game.cfg
game360.cfg
controller.vdf
give_all_items.cfg
gpu_*.ekv
lab.cfg
listenserver.cfg
map_edit.cfg
mem_*.ekv
moddefaults*.txt
moddefaults.cfg
gameps3.cfg
modsettings.cfg
nav*.cfg
op08_*.cfg
random_client_names.vdf
ranked_lobby.cfg
render_radar.cfg
server_blacklist.txt
settings_default.scr
sfm_defaultanimationgroups.txt
start.cfg
steering_wheel.cfg
thirdperson*.cfg
undo360controller.cfg
user_default.scr
valve.rc

survival/
hlae/
coop/
controller_config/

# Misc
gamestate_integration_*.cfg
