# root folder
tf2_misc*.vpk
tf2_sound*.vpk
tf2_textures*.vpk
steam.inf
stats.txt
serverconfig.vdf
*.cache
gamestate.txt
gameinfo.txt
item_whitelist_example.txt
demoheader.tmp
*.demoheader
console.log
tf2_playerstats.dmx
trainingprogress.txt
voice_ban.dt
*.bat

# root folders
bin
cache
demos
download
maps
materials
media
models
replay
resource
screenshots
scripts
sound
sound_workshop
workshop

# custom folder
custom/readme.txt
custom/*.zip
custom/*.7z
custom/*.rar
custom/sprays
custom/fullcolor
custom/_ModLimitFix
custom/Weirdcorehud
custom/_QuickPrecache.vpk
custom/_casual_preloader*.vpk

# cfg folder
360controller*.cfg
chapter*.cfg
trusted_keys*.txt
sfm*.txt
server*.cfg
mapcycle*.txt
motd*.txt
pure_server*.txt
replay_example.cfg
server_blacklist.txt
mtp.cfg
user.scr
vscript_convar_allowlist.txt
undo360controller.cfg
sourcevr_tf.cfg
sixense_bindings.cfg
cfg/sourcemod
cfg/config.cfg
cfg/config_default.cfg